body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #16012e;
}

.nav {
    width: 100%;
    height: 80px;
    background: #13023b;

    display: flex;
    align-items: center;

    padding: 0 50px;
    box-sizing: border-box;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

    position: relative;
}

.nav h1 {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 3px;

    background: linear-gradient(to right, #8b5cf6, #00aaff);
    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
    -webkit-text-fill-color: transparent;
}

.links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    gap: 15px;
}

.links li {
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: bold;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.links li:hover {
    background: #403de9;
    transform: translateY(-3px);
}

.navbar {
    width: 100%;
    padding: 20px 20px;
    background: #111;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    width: 100%;
    padding: 20px 20px;
    background: #111;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin-left: auto;
}

.hero {
    width: 100%;
    height: 100vh;

    background: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
    ),
    url("./images.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.hero-content {
    color: white;
    max-width: 700px;
    padding: 20px;
}

.hero-content h1 {
    font-size: 55px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 1.6;
}

.hero-content button {
    background: #3498db;
    color: white;
    border: none;
    padding: 14px 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.hero-content button:hover {
    background: #217dbb;
    transform: translateY(-3px);
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px;
}



.card {
    width: 300px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
    overflow: hidden;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.content {
    padding: 20px;
    text-align: center;
}

.content p {
    margin-bottom: 20px;
}

.content button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: royalblue;
    color: white;
    cursor: pointer;
}

.contact {
    width: 100%;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.contact.Us {
    width: 500px;
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    display: block;
}

.contact.Us h1 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #222;
    margin: 0 0 40px 0;
}

.contact.Us form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact.Us label {
    font-size: 16px;
    font-weight: bold;
    color: #222;
    margin-top: 10px;
}

.contact.Us input {
    width: 100%;
    height: 52px;
    padding: 0 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    box-sizing: border-box;
}

.co,
.password {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact.Us button {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background: #087ff5;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.footer {
    width: 100%;
    background: #0c0341;
    color: white;
    text-align: center;
    margin-top: 50px;
}

.footer-content {
    padding: 50px 20px;
}

.footer-content h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

.footer-content p {
    color: #ccc;
    max-width: 600px;
    margin: auto;
    line-height: 1.6;
}

.socials {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
    padding: 0;
}

.socials li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.socials li a:hover {
    color: #3498db;
    transform: translateY(-5px);
}

.footer-bottom {
    background: #1013df;
    padding: 20px;
}

.footer-bottom p {
    margin: 0;
    color: #aaa;
    font-size: 14px;
}

.footer-bottom span {
    color: white;
    font-weight: bold;
}